html {
	scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
	background: #fff;
	
  }
  /*--- navigation bar ---*/
  .navbar {
	width: 100%;
	float:right;
	z-index: 2;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
	margin-right: 1em !important;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: OCR A Std, monospace;
	text-decoration: none;
  }
  .nav-link:hover {
	color: #CB0045;
	text-decoration: none;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  #vantajs {
	width: auto; height: 100vh; position: absolute;
  }
  .img-logo {
	max-width: 100%;
	width:600px;
	margin-top: 5rem;
	display: block;
	height: 240px;
	height: auto;
	  float: left;
  }
  
  .draw-border {
	box-shadow: inset 0 0 0 4px #002874;
	color: #fff;
	transition: color 0.25s 0.0833333333s;
	position: relative;
}
.draw-border::before, .draw-border::after {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: '';
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
}
.draw-border::before {
	border-bottom-width: 4px;
	border-left-width: 4px;
}
.draw-border::after {
	border-top-width: 4px;
	border-right-width: 4px;
}
.draw-border:hover {
	color: #fff;
}
.draw-border:hover::before, .draw-border:hover::after {
	border-color: #CB0045;
	transition: border-color 0s, width 0.25s, height 0.25s;
	width: 100%;
	height: 100%;
}
.draw-border:hover::before {
	transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
	transition-delay: 0s, 0.25s, 0s;
}
.btn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	font: 700 1.2rem 'Roboto Slab', sans-serif;
	padding: 1em 2em;
	letter-spacing: 0.05rem;
	width: 10rem;
	position: absolute;
	left: 45%;
	bottom: 20%

}

.btn:focus {
	outline: 2px dotted #002874;
}


.about {
	width: auto;
	height: 100vh;
	background-color: #fff;
	padding : 4rem;
	text-align: center;
}
.about-contents {
	display: flex;
	flex-direction: row;
}
.about-header {
	width: fit-content;
	height:fit-content;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	
}


.img-iedc {
	max-width: 100%;
	width:120px;
	height: 40px;
	height: auto;
	margin-bottom: 1rem;
}

.img-logo-about {
	max-width: 100%;
	width:450px;
	height: 180px;
	height: auto;
	margin-bottom: 1rem;
}

.presents {
	font-size: 1.25rem;
	font-style: italic;
	font-weight: 600;
}

.about p {
	font-size: 1rem;
	color: grey;
}

.about h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.left {
	float: left;
	width: 50%;
	margin-top: 3em;
	padding-top: 2em;
	margin-left: 6em;
	margin-right: 3em;
	text-align: center;
	border-radius: 12px;
	-webkit-box-shadow: 0px -4px 3px hsl(314, 73%, 26%);
  -moz-box-shadow: 0px -4px 3px hsl(314, 73%, 26%);
  box-shadow: 0px 4px 10px hsl(314, 73%, 26%);


}

.right {
	float: right;
	width: 60%;
	padding-right: 6em;
	text-align: left;
}
hr {
	width: 3.25rem;
	border-width: 0.2rem;
	border-color: hsl(314, 73%, 26%);
	margin-bottom: 3em;
}

.services h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.legacy {
	height: auto;
	width: 100%;
	background-color: #fff;
	padding-top : 4rem;
	padding-bottom: 4rem;
	text-align: center;
	flex-direction: row;
}
.legacy h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.leg-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding-left:3rem;
	padding-right: 3rem;
}
.leg-container-col {
	display: flex;
	flex-direction: row;
	align-items: center;
}



.img-leg {
	display: block;
	border-radius: 50%;
	min-width: 200px;
	min-height: 200px;
	height:15vw;
	width: 15vw;
	object-fit: cover;
	margin:2vw;
}


.img-container {
	position: relative;
	min-width: 200px;
	min-height: 200px;
	height:15vw;
	width: 15vw;
	margin-left:1vw;
	margin-right:2vw;
	margin-bottom: 1.5vw;
  }
  
  .overlay {
	position: absolute;
	top: 2vw;
	bottom: 0;
	left: 2vw;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0;
	transition: .5s ease;
	background-color: #820F56;
  }
  
  .img-container:hover .overlay {
	opacity: 0.6;
	z-index: 1;
	transform: scale(1.2);

  }
  .img-container:hover .img-leg {
	transform: scale(0.8);
	transition: 0.2s;

  }
  
  .text {
	color: white;
	font-size: 16px;
	position: absolute;
	line-height: normal;
	white-space: nowrap;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

  .sponsors {
	height: auto;
	width: 100%;
	background-color:#23153c;
	padding-top : 4rem;
	text-align: center;
	flex-direction: row; 
  }
  .sponsor-container {
	  display: inline;
  }
  .sponsors h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;  
	color: #fff;
  }

  .sponsors img {
	  max-width: 70%;
	  height: auto;
	  margin: 2vw
  }
  .floating {   
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
} 
  @keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
	} 




@media screen and (max-width: 729px) {
	.btn {
		left: 30%;
	}
	.navbar {
		background:#23153c;
	}
	.left {
		display: none;
	}
	
	.right {
		width: 100%;
		text-align: center;
		float: none;
		padding :0;
	}
	.about h1 {
		text-align: center;
	}
	.leg-container-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

